
<!DOCTYPE html>
<html manifest="/websocket.appcache">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>WebSocket test</title>   
    <link href="{{url_for('static',filename='yszbase.css')}}" rel="stylesheet" type="text/css"/> 
    <script src="{{url_for('static',filename='yszbase.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static',filename='websocket.js')}}" type="text/javascript"></script>
</head>
<body>
    
<div class="container">
    <div class="page-header">
        <h2 style="margin-top:-20px;margin-left:20px; text-align:center; ">WebSocket message test</h2>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-6 col-md-7 col-lg-7">
            <div id="div_msgzone" class="panel panel-default">
                <div class="panel-heading"> receive message from {{lip}}</div>
                <div id="div_msg" class="panel-body" style="min-height:500px;"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-5">
            <div>
                <span class="btn btn-default" id="btn_clear">clean message</span>
            </div>
            <br />

            <div style="margin-bottom:20px;">
                <textarea id="inp_send" class="form-control" style="margin-bottom:3px;min-height:400px;" placeholder="your send content"></textarea>
                <button type="button" id="btn_send" class="btn btn-info btn-block">send（ctrl+Enter）</button>
            </div>
        </div>
    </div>
<yszfooter>
    <p>©2017 sn0w</p>
</yszfooter> 
</div>

</body>
</html>
